@using BlackLotus.Cards
@{
    ViewBag.Title = "Index";
    List<Card> wtvs = Card.Select().ToList();
}

<div class="container">
    <div class="hero-unit centered">
        <h1>The Black Lotus</h1>
        <p>All the Mana you need</p>
    </div>
</div>
